
<div class="new-cocktail-page">
<h1>New Cocktail</h1>

<div class="container form">
  <%= simple_form_for(@cocktail) do  |c|%>
    <%= c.input :name %>
    <%= c.input :description %>
    <%= c.button :submit, "CREATE", class: "button-create" %>
  <% end %>
</div>

<div class="button-back">
<%= link_to 'Go Back', root_path, class:"back"%>
</div>
</div>
